* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
}

.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: chocolate;
}

.displayNameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameWarning {
  display: none;
}

.nameWarning.active {
  display: block;
}
.roomWarning {
  display: none;
}

.roomWarning.active {
  display: block;
}
.login h1 {
  margin: 2rem 0rem;
}

.login button {
  margin: 2rem 0rem;
  padding: 1rem 2rem;
}

.roomCreation {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
}

.joinGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinGame button {
  margin: 2rem 0rem;
  padding: 1rem 2rem;
}

.waitingRoom {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: crimson;
}

.waitingRoom button {
  margin: 2rem 0rem;
  padding: 1rem 2rem;
}

.waitingRoom ul {
  list-style: none;
}

.waitingRoom li {
  margin: 1rem 0rem;
}

.gamePage {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
}

.gridContainer {
  display: grid;
  width: 50vh;
  height: 50vh;
  grid-template-columns: repeat(5, 1fr);
}

.box {
  width: 10vh;
  height: 10vh;
  margin: 0.1rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.currentBlock #Vector {
  fill: red;
}

.otherPlayerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otherPlayerBlock #Vector {
  fill: blue;
}

.controls {
  margin: 2rem 0rem;
  opacity: 0;
}

.nextRound {
  opacity: 0;
}

.scores {
  margin-top: 2rem;
  text-align: center;
}

.timer {
  opacity: 0;
}
